@charset "UTF-8";
* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 500; }

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

img {
  max-width: 100%;
  max-height: 100%; }

.red {
  color: #ff2f2f !important; }

.h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  color: #1e1e1e; }

.h2 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  color: #1e1e1e;
  margin: 20px 0; }

.h3 {
  font-size: 15px;
  font-weight: 500; }
  .h3_error {
    color: #ff2f2f; }

.link {
  text-decoration: none;
  font-size: 11px;
  color: #3369f3;
  border: none;
  background-color: transparent; }
  .link_danger {
    color: #ff2f2f; }
  .link_profile {
    width: 100%;
    text-align: left; }
  .link:hover {
    cursor: pointer;
    text-decoration: underline; }

.hide {
  display: none !important; }

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: 0;
  /* Hide scroll bar in Firefox */ }
  .hide-scrollbar::-webkit-scrollbar {
    width: 0;
    /* Hide scroll bar in  Chrome, Edge, and Safari */ }

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 160px; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 340px;
  min-height: 460px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 30px;
  background-color: #fff; }
  .form_profile-edit {
    width: 100%; }

.label {
  position: relative;
  display: inline-block;
  margin: 20px 0;
  width: 100%; }
  .label_file-input {
    position: relative;
    color: #8d8d8d;
    cursor: pointer;
    font-size: 14px; }
    .label_file-input.addLabel:after {
      content: 'Выбрать файл на компьютере';
      font-size: 12px;
      color: #3369f3;
      text-decoration: underline; }
    .label_file-input:hover:after {
      text-decoration: none; }
  .label__text {
    color: #999;
    font-size: 13px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1); }

.input {
  border: none;
  border-bottom: 1px solid #3369f3;
  color: #1e1e1e;
  padding: 7px 0;
  font-size: 13px;
  width: 100%;
  /* For IE Browsers*/ }
  .input_file {
    width: 0;
    height: 0;
    z-index: 10; }
  .input_profile-edit {
    border: none;
    background-color: transparent;
    color: #999;
    text-align: right; }
  .input:focus + .label__text,
  .input:not(:placeholder-shown) + .label__text {
    font-size: 9px;
    transform: translateY(-16px) translateX(0px); }
  .input:focus + .label__text,
  .input:not(:-ms-.input-placeholder) + .label__text {
    font-size: 9px;
    transform: translateY(-16px) translateX(0px); }
  .input:focus + .label__text .onfocus-hide,
  .input:not(:placeholder-shown) + .label__text .onfocus-hide {
    display: none; }
  .input__error {
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: 8px;
    color: #ff2f2f; }

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s; }
  .btn:hover {
    opacity: 0.8; }
  .btn_submit {
    border-radius: 8px;
    font-size: 13px;
    padding: 12px;
    width: 100%;
    transition: 0.2s;
    margin: 7px auto;
    max-width: 280px; }
  .btn_blue {
    background-color: #3369f3;
    color: #fff; }
  .btn_chat-delete {
    color: #ff2f2f;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    display: none;
    font-size: 16px; }
  .btn_round {
    border-radius: 50%;
    width: 25px;
    height: 25px; }
  .btn_settings {
    width: 25px;
    height: 25px;
    color: #1e1e1e; }
  .btn_toggle-menu {
    font-size: 12px;
    color: #1e1e1e;
    white-space: nowrap;
    width: 100%;
    justify-content: flex-start; }
  .btn_attach {
    width: 32px;
    height: 32px;
    font-size: 22px;
    color: #999; }

.chats {
  width: 100%;
  height: 100%;
  display: flex;
  color: #999;
  font-size: 12px; }
  .chats__lside {
    flex: 0 0 310px;
    display: flex;
    flex-direction: column;
    background-color: #fbfbfb;
    border-right: 1px solid #e5e5e5; }
    .chats__lside-head {
      padding: 10px; }
    .chats__lside-search {
      margin: 12px 0 14px; }
  .chats__rside {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  .chats__profile-link-container {
    display: flex;
    justify-content: flex-end; }
  .chats__profile-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 11px 0;
    color: #999; }
    .chats__profile-link .fas {
      margin-left: 8px; }

.label_chats-search {
  margin: 11px 0 4px; }

.label__text_chats-search {
  display: flex;
  align-items: center;
  transition: 0.1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px; }
  .label__text_chats-search .fas {
    margin-right: 7px; }

.input_chats-search {
  background: #efefef;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 34px;
  /* For IE Browsers*/ }
  .input_chats-search:focus + .label__text,
  .input_chats-search:not(:placeholder-shown) + .label__text {
    left: 12px;
    top: 50%;
    font-size: 12px;
    transform: none;
    opacity: 1;
    transform: translate(0, -50%); }
  .input_chats-search:focus + .label__text,
  .input_chats-search:not(:-ms-.input-placeholder) + .label__text {
    left: 12px;
    top: 50%;
    font-size: 12px;
    transform: none;
    opacity: 1;
    transform: translate(0, -50%); }

.chat-item {
  position: relative; }
  .chat-item__content {
    padding: 12px 10px;
    margin: 2px 0;
    position: relative;
    display: flex;
    cursor: pointer; }
    .chat-item__content_active {
      background-color: #e4edfd; }
    .chat-item__content:hover .chat-item__time,
    .chat-item__content:hover .chat-item__new-messages {
      display: none; }
    .chat-item__content:hover .btn_chat-delete {
      display: block; }
  .chat-item__logo {
    flex: 0 0 47px;
    width: 47px;
    height: 47px;
    background-color: #efefef;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden; }
  .chat-item__text {
    flex: 0 0 195px; }
  .chat-item__title {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    margin-bottom: 4px; }
  .chat-item__last-message {
    display: flex;
    align-items: center; }
  .chat-item__own-message {
    font-weight: 600;
    color: #1e1e1e;
    margin-right: 4px; }
  .chat-item__time {
    font-size: 10px;
    position: absolute;
    top: 12px;
    right: 10px; }
  .chat-item__new-messages {
    background-color: #3369f3;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    padding: 3px 5px;
    position: absolute;
    bottom: 12px;
    right: 10px;
    min-width: 20px;
    text-align: center; }
  .chat-item:first-child::before, .chat-item::after {
    content: '';
    display: block;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 10px; }

.dialog {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  height: 100%;
  padding: 0 20px; }
  .dialog__top-bar {
    position: relative;
    flex: 0 0 55px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .dialog__title {
    display: flex;
    align-items: center; }
  .dialog__avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #efefef;
    overflow: hidden;
    margin-right: 10px; }
  .dialog__name {
    font-size: 13px;
    font-weight: 600;
    color: #1e1e1e; }
  .dialog__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse; }
    .dialog__content::before, .dialog__content::after {
      content: '';
      flex: 0 0 15px; }
  .dialog__date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0; }
  .dialog__messages-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 15px 0; }
    .dialog__messages-container_own {
      align-items: flex-end; }
  .dialog__message {
    background-color: #f8f8f8;
    padding: 11px 11px 24px 11px;
    color: #1e1e1e;
    font-size: 12px;
    border-radius: 0 10px 10px 10px;
    max-width: 75%;
    margin: 5px 0;
    position: relative; }
    .dialog__message:first-child {
      margin-bottom: 0; }
    .dialog__message:last-child {
      margin-top: 0; }
    .dialog__message_own {
      background-color: #e4edfd;
      border-radius: 10px 10px 0 10px; }
    .dialog__message_image {
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      background: #fff;
      max-width: 315px;
      max-height: 315px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
    .dialog__message-info {
      font-size: 9px;
      color: #999;
      position: absolute;
      bottom: 11px;
      right: 11px; }
      .dialog__message-info_image {
        color: #fff;
        background-color: #ababab;
        border-radius: 30px;
        padding: 2px 7px; }
  .dialog__bottom-bar {
    flex: 0 0 55px;
    border-top: 1px solid #eaeaea; }
  .dialog__create-message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  .dialog__new-message-input {
    margin: 0 10px;
    flex: 1 1 auto; }

.input_new-message {
  background-color: #efefef;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  margin: 11px 0; }

.toggle-menu {
  list-style: none;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  padding: 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  z-index: 10; }
  .toggle-menu_dialog-settings {
    right: 0;
    bottom: 0;
    transform: translate(0, 108%); }
  .toggle-menu_attach-methods {
    top: 0;
    left: 0;
    transform: translate(0, -108%); }
  .toggle-menu__item {
    display: flex;
    margin-bottom: 16px; }
    .toggle-menu__item:last-child {
      margin-bottom: 0; }
  .toggle-menu__icon {
    color: #3369f3;
    margin-right: 15px;
    flex: 0 0 22px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center; }

.profile {
  display: flex;
  width: 100%;
  height: 100%;
  color: #1e1e1e; }
  .profile__container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding: 0 20px; }
  .profile__data {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 510px; }
  .profile__avatar {
    flex: 0 0 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #efefef;
    color: #cdcdcd;
    font-size: 40px;
    margin: 20px;
    cursor: pointer;
    position: relative; }
    .profile__avatar::after {
      content: 'Поменять аватар';
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      display: flex;
      align-items: center;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      opacity: 0;
      transition: 0.1s; }
    .profile__avatar:hover::after {
      opacity: 1; }
  .profile__name {
    font-size: 16px;
    font-weight: 600; }
  .profile__list {
    list-style: none;
    margin: 25px 0;
    width: 100%; }
    .profile__list-item {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      border-bottom: 1px solid #eaeaea;
      padding: 10px 0; }
      .profile__list-item:last-child {
        border: none; }
  .profile__data-value {
    color: #999; }

.btn_left-bar {
  flex: 0 0 65px;
  border-right: 1px solid #eaeaea;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }
  .modal__window {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px; }
  .modal__title {
    font-size: 15px; }

.form_modal {
  min-height: 255px; }
