.chats {
  width: 100%;
  height: 100%;
  display: flex;
  color: $silver;
  font-size: 12px;

  &__lside {
    flex: 0 0 310px;
    display: flex;
    flex-direction: column;
    background-color: $superlight-white;
    border-right: 1px solid $border-silver;

    &-head {
      padding: 10px;
    }

    &-search {
      margin: 12px 0 14px;
    }
  }

  &__rside {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__profile-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 11px 0;
    color: $silver;

    .fas {
      margin-left: 8px;
    }
  }
}

.label {
  &_chats-search {
    margin: 11px 0 4px;
  }

  &__text {
    &_chats-search {
      display: flex;
      align-items: center;
      transition: 0.1s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;

      .fas {
        margin-right: 7px;
      }
    }
  }
}

.input {
  &_chats-search {
    background: $light-white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 34px;

    &:focus + .label__text,
    &:not(:placeholder-shown) + .label__text {
      left: 12px;
      top: 50%;
      font-size: 12px;
      transform: none;
      opacity: 1;
      transform: translate(0, -50%);
    }

    /* For IE Browsers*/
    &:focus + .label__text,
    &:not(:-ms-.input-placeholder) + .label__text {
      left: 12px;
      top: 50%;
      font-size: 12px;
      transform: none;
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
}

.chat-item {
  position: relative;

  &__content {
    padding: 12px 10px;
    margin: 2px 0;
    position: relative;
    display: flex;
    cursor: pointer;

    &_active {
      background-color: $light-blue;
    }

    &:hover .chat-item__hover-btns {
      transform: translateX(0%);
      transition: 0.3s all;
    }
  }

  &__logo {
    flex: 0 0 47px;
    width: 47px;
    height: 47px;
    background-color: $light-white;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }

  &__text {
    flex: 0 0 195px;
  }

  &__title {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: $dark-silver;
    margin-bottom: 4px;
  }

  &__last-message {
    display: flex;
    align-items: center;
  }

  &__own-message {
    font-weight: 600;
    color: $dark-silver;
    margin-right: 4px;
  }

  &__time {
    font-size: 10px;
    position: absolute;
    top: 12px;
    right: 10px;
  }

  &__new-messages {
    background-color: $main-blue;
    border-radius: 10px;
    color: $white;
    font-size: 11px;
    padding: 3px 5px;
    position: absolute;
    bottom: 12px;
    right: 10px;
    min-width: 20px;
    text-align: center;
  }

  &:first-child::before,
  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid $border-silver;
    margin: 0 10px;
  }

  &__hover-btns {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    font-size: 16px;
    padding: 0 20px;
    background-color: $superlight-white;
    border-radius: 5px 0 0 5px;
    transform: translateX(100%);
    transition: 0.3s all;

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
