.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }
  .modal__window {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px; }
  .modal__title {
    font-size: 15px; }

.form_modal {
  min-height: 255px; }
