$main-font: 'Inter', sans-serif;

$main-blue: #3369f3;
$green: #6abea7;
$light-blue: #e4edfd;
$red: #ff2f2f;
$silver: #999;
$message-bg: #f8f8f8;
$border-silver: #e5e5e5;
$dark-silver: #1e1e1e;
$white: #fff;
$light-white: #efefef;
$superlight-white: #fbfbfb;
$oneside-border: #eaeaea;
$file-input-color: #8d8d8d;
$profile-avatar-color: #cdcdcd;
